.main-div-hohe{
    display: flex;
    flex-wrap: wrap;
}
.collection_img{
    border: 1px solid rgb(190, 189, 189);
    height: 100px;
    width: 100px !important;
    margin-top: 2px;
    height: 193px !important;
    width: 300px !important;
    /* margin: auto !important; */
    margin-left: -16px !important;
}
.ant-image-mask {
    margin-left: -16px !important;
}
.card-divs{
    border: 1px solid rgb(199, 198, 198) !important;
    height: 468px !important;
    width: 315px !important;
    margin: 20px 20px !important;
}
.order-btn{
    margin-bottom: 20px !important;
}
.para{
    display: block;
    height: 138px !important;
}
.shopping{
    font-size: 30px !important;
}
.orderimg{
    height: 60px;
    width: 100px;
}
